<div class="pandemic-game {{if this.showDrawer 'pandemic-game--pushed'}}">
  <h1>
    Stop the Pandemic
  </h1>
  <p>
    Your game code is:
    {{uppercase this.model.code}}
  </p>
  <p>
    cities
    {{#each model.cities as |city|}}
      <li>
        id is
        {{city.cardId}}
      </li>
    {{/each}}
  </p>
</div>
<div class="pandemic-game__drawer-btns">
  <div class="mb-3">
    <BsButton
      @onClick={{this.openTeamInfo}}
      @type="info"
      @active={{this.showTeamInfo}}
      @defaultText="Team Info"
    />
    <BsButton
      @onClick={{this.openGameInfo}}
      @type="primary"
      @active={{this.showGameInfo}}
      @defaultText="Game Info"
    />
  </div>
  {{#if this.showDrawer}}
    <button
      type="button"
      aria-label="Close drawer"
      class="close-btn rounded-circle"
      {{on 'click' this.closeDrawer}}
    ></button>
  {{/if}}
</div>
<div
  class="pandemic-game__drawer
    {{if this.showDrawer 'pandemic-game__drawer--open'}}
     bg-light"
>
  <div class="px-4">
    {{#if this.showTeamInfo}}
      {{#each this.model.players as |player|}}
        <li
          class="pandemic-game__player
            {{if player.isTurn 'pandemic-game__player--active'}}"
        >
          {{player.name}}
        </li>
      {{/each}}
    {{else if this.showGameInfo}}
      Game info
    {{/if}}
  </div>
</div>