<div class="pandemic-game {{if this.showDrawer 'pandemic-game--pushed'}}">
  <h1>
    Stop the Pandemic
  </h1>
  <p class="mb-2">
    Your game code is:
    <BsButton @type="light" @size="sm" class="ml-1 text-uppercase">
      {{this.model.game.code}}
      <BsPopover>
        Share this code with your friends so they can join your game!
      </BsPopover>
    </BsButton>
  </p>
  {{#if this.model.currentPlayer}}
    <BsForm
      @formLayout="inline"
      @model={{this}}
      @onSubmit={{this.changeName}}
      @disabled={{this.model.game.inProgress}}
      class="justify-content-center mb-2" as |form|
    >
      <form.element
        @controlType="text"
        @property="currentPlayerName"
        @label="Your name is:"
        class="flex-nowrap ml-2" as |el|
      >
        <el.control
          class="ml-2 pr-5"
          value={{this.model.currentPlayer.name}}
          {{on 'focusout' form.submit}}
        />
        {{#if form.isSubmitting}}
          <div class="spinner-grow spinner-grow-sm text-success ml-n4"></div>
        {{else if form.isSubmitted}}
          <i class="fas fa-check text-success ml-n4"></i>
        {{else if form.isRejected}}
          <i class="fas fa-times text-danger ml-n4">
            <BsTooltip
              @title="We encountered an error saving this info. Please try again."
            />
          </i>
        {{/if}}
      </form.element>
    </BsForm>
  {{else}}
    <p>
      You are not a player in this game.
    </p>
  {{/if}}
  {{#if this.model.game.inProgress}}
    <p>
      It is
      {{concat this.currentTurn "'s"}}
      turn.
    </p>
  {{else if this.model.currentPlayer}}
    <BsButton
      @type="dark"
      @onClick={{this.startGame}}
      @defaultText="Start the Game"
    />
  {{else}}
    <p>
      The game has not started.
    </p>
  {{/if}}
  <p>
    cities
    {{#each this.model.game.cities as |city|}}
      <li>
        id is
        {{city.cardId}}
      </li>
    {{/each}}
  </p>
  <div id="map_container">
    <svg id="map" width="100%"></svg>
  </div>
</div>
{{#if this.model.currentPlayer}}
  <div class="pandemic-game__role-chooser">
    <RoleChooser
      @currentPlayer={{this.model.currentPlayer}}
      @players={{this.model.game.players}}
      @inProgress={{this.model.game.inProgress}}
      @selectItem={{this.changeRole}}
    />
  </div>
{{/if}}
<div class="pandemic-game__drawer-btns">
  <div class="mb-3">
    <BsButton
      @onClick={{this.openTeamInfo}}
      @type="info"
      @active={{this.showTeamInfo}}
      @defaultText="Team Info"
    />
    <BsButton
      @onClick={{this.openGameInfo}}
      @type="primary"
      @active={{this.showGameInfo}}
      @defaultText="Game Info"
    />
  </div>
  {{#if this.showDrawer}}
    <button
      type="button"
      aria-label="Close drawer"
      class="close-btn rounded-circle"
      {{on 'click' this.closeDrawer}}
    ></button>
  {{/if}}
</div>
<div
  class="pandemic-game__drawer
    {{if this.showDrawer 'pandemic-game__drawer--open'}}
     bg-light"
>
  <div class="px-4">
    {{#if this.showTeamInfo}}
      <TeamInfoDisplay @players={{this.model.game.players}} />
    {{else if this.showGameInfo}}
      <GameInfoDisplay @game={{this.model.game}} />
    {{/if}}
  </div>
</div>