<Drawer @game={{this.model.game}} />
<RoleChooser
  @currentPlayer={{this.model.currentPlayer}}
  @players={{this.model.game.players}}
  @disabled={{this.model.game.inProgress}}
  class="pandemic-game__role-chooser"
/>
<div class="pandemic-game">
  <h1>
    Stop the Pandemic
  </h1>
  <p class="mb-2">
    Your game code is:
    <BsButton @type="light" @size="sm" class="ml-1 text-uppercase">
      {{this.model.game.code}}
      <BsPopover>
        Share this code with your friends so they can join your game!
      </BsPopover>
    </BsButton>
  </p>
  <NameChanger
    @currentPlayer={{this.model.currentPlayer}}
    @disabled={{this.model.game.inProgress}}
  />
  {{#if this.model.game.inProgress}}
    <p>
      It is
      {{concat this.currentTurn "'s"}}
      turn.
    </p>
  {{else if this.model.currentPlayer}}
    <BsButton
      @type="dark"
      @onClick={{this.startGame}}
      @defaultText="Start the Game"
    />
  {{else}}
    <p>
      The game has not started.
    </p>
  {{/if}}
</div>
<div id="map_container">
  <svg id="map" width="100%"></svg>
</div>
<div id="map_container" style="height: 1000px">
  <svg id="map" width="100%" height="100%"></svg>
</div>