<div class="pandemic-start">
  <h1>
    Stop the Pandemic
  </h1>
  <p class="mb-5">
    Play Pandemic with your friends online!
  </p>
  <BsButton
    @onClick={{this.createNewGame}}
    @type="primary"
    @defaultText="New Game"
    @rejectedText="Oops! Try Again" as |button|
  >
    {{#if button.isPending}}
      <div class="spinner-grow spinner-grow-sm"></div>
    {{/if}}
  </BsButton>
  {{#if this.createErrorMessage}}
    <p class="font-weight-light text-danger">
      {{this.createErrorMessage}}
    </p>
  {{/if}}
  <p class="my-1">
    or
  </p>
  <BsForm
    @formLayout="inline"
    @model={{this}}
    @onSubmit={{this.joinGame}}
    class="justify-content-center" as |form|
  >
    <form.element
      @controlType="text"
      @property="joinCode"
      @invisibleLabel="Join code" as |el|
    >
      <el.control class="mr-2" placeholder="Code (e.g. ABCD)" />
    </form.element>
    <form.submitButton @type={{if form.isRejected 'danger' 'primary'}}>
      Join Game
      {{#if form.isSubmitting}}
        <div class="spinner-grow spinner-grow-sm"></div>
      {{/if}}
    </form.submitButton>
  </BsForm>
  {{#if this.joinErrorMessage}}
    <p class="font-weight-light text-danger">
      {{this.joinErrorMessage}}
    </p>
  {{/if}}
</div>